<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name = "test_ur">
    <link name = "world"/>
    <link name = "desk">
        <inertial>
            <origin xyz = "0 0 0.5" rpy = "0 0 0"/>
            <mass value = "20" />
            <inertia ixx = "200" ixy = "200" ixz = "200" iyy = "200" iyz = "200" izz = "200" />
        </inertial>
        <visual>
            <origin xyz = "0 0 0.5" rpy = "0 0 0" />
            <geometry>
                <box size = "0.1 0.1 1.0" />
            </geometry>
            <material name = "Gray">
                <color rgba = "0.5 0.5 0.5 0" />
            </material>
        </visual>
        <collision>
            <origin xyz = "0 0 0.5" rpy = "0 0 0"/>
            <geometry>
                <box size = "0.1 0.1 1.0" />
            </geometry>
        </collision>
    </link>
    <gazebo reference = "desk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>
    <joint name = "world_joint" type = "fixed">
        <parent link = "world"/>
        <child link = "desk" />
        <origin xyz = "0 0 0" rpy = "0.0 0.0 0.0" />
    </joint>

    <xacro:arg name ="transmission_hw_interface" default = "hardware_interface/PositionJointInterface"/>
    <xacro:include filename = "$(find ur_description)/urdf/common.gazebo.xacro" />
    <xacro:include filename = "$(find ur_description)/urdf/ur5.urdf.xacro" />
    <xacro:ur5_robot prefix = "" joint_limited = "false"
        transmission_hw_interface = "$(arg transmission_hw_interface)"
    />

    <joint name = "base_joint" type = "fixed" >
        <parent link = "desk" />
        <child link = "base_link" />
        <origin xyz = "0 0 1" rpy = "0.0 0.0 0.0" />
    </joint>
</robot>
